<div id="<%= dom_id asset %>">
  <p>
    <strong>Name:</strong>
    <%= asset.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= asset.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= asset.category_id %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= asset.manufacturer_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= asset.status %>
  </p>

  <p>
    <strong>Order serial:</strong>
    <%= asset.order_serial %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= asset.purchase_date %>
  </p>

  <p>
    <strong>Purchase cost:</strong>
    <%= asset.purchase_cost %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= asset.notes %>
  </p>

</div>
