<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= manufacturer.url %>
  </p>

  <p>
    <strong>Support url:</strong>
    <%= manufacturer.support_url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= manufacturer.status %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= manufacturer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manufacturer.email %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= manufacturer.created_at %>
  </p>

</div>
